.container{
    margin-top: 150px;
}

.primeirocard{
    background: -webkit-linear-gradient(left, #ed7551, #f12ea0);
    background: -moz-linear-gradient(left, #ed7551, #f12ea0);
    background: -ms-linear-gradient(left, #ed7551, #f12ea0);
    background: -o-linear-gradient(left, #ed7551, #f12ea0);
    background: linear-gradient(to right, #ed7551, #f12ea0);
}

.card{
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
}

.icone{
    display: flex;

    
}
.icone img{
    width: 50px;
    position: absolute;
    top: -25px;   
     border-radius: 50%;
    padding: 5px;
    background: -webkit-linear-gradient(left, #ed7551, #f12ea0);
    background: -moz-linear-gradient(left, #ed7551, #f12ea0);
    background: -ms-linear-gradient(left, #ed7551, #f12ea0);
    background: -o-linear-gradient(left, #ed7551, #f12ea0);
    background: linear-gradient(to right, #ed7551, #f12ea0);
}