<div class="container">
    Projetos Realizados



    <div class="mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Sistemas Gerenciais em Angular JS</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">HTML e CSS Puro</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="produtos-tab" data-bs-toggle="tab" data-bs-target="#produtos" type="button"
                    role="tab" aria-controls="produtos" aria-selected="false">JavaScript</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">Clientes</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active mt-2" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div class="row mt-4">
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/procalcicone.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn " data-bs-toggle="modal" data-bs-target="#modalProcalc">Ver mais
                                detalhes</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/myanamneseicone.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn">Ver mais detalhes</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/fullpass.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn" data-bs-toggle="modal" data-bs-target="#modalFullpass">Ver mais
                                detalhes</a>

                        </div>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/realtec.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn" data-bs-toggle="modal" data-bs-target="#modalRealtec">Ver mais
                                detalhes</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade mt-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row mt-4">
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/valordeumavidaicone.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn ">Ver mais detalhes</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/reencontrowicone.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn ">Ver mais detalhes</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/starbucksicone.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn ">Ver mais detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">

                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/recantodafelicidadeicone.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn ">Ver mais detalhes</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/teslinhaicone.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn ">Ver mais detalhes</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/googleicone.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn ">Ver mais detalhes</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/escolaagilicone.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn ">Ver mais detalhes</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/fibonappsicone.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn ">Ver mais detalhes</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="../../../assets/img/projetos/escolaagilicone.png" alt="">
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn ">Ver mais detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade mt-2" id="produtos" role="tabpanel" aria-labelledby="produtos-tab">
            <div class="row mt-4">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="../../../assets/img/projetos/calculadoraimcicone.png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn ">Ver mais detalhes</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="../../../assets/img/projetos/embreveicone.png" alt="">
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img src="../../../assets/img/projetos/embreveicone.png" alt="">

                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade mt-2" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>





        <!-- Modal ProCalc -->
        <div class="modal fade" id="modalProcalc" tabindex="-1" aria-labelledby="modalProcalclLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalProcalclLabel">ProCalc Calculadora de Procedimentos</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <p>Tela de Login</p>
                                    <img src="../../../assets/img/projetos/provasCabais/ProCalc/teladelogin.png"
                                        alt="tela de Login" class="w-100">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="text-center">
                                    <p>Dashboard</p>
                                    <img src="../../../assets/img/projetos/provasCabais/ProCalc/dash.png"
                                        alt="tela de Login" class="w-100">
                                </div>
                            </div>

                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <div class="text-center">
                                    <p>Produtos Selecionados em Escopos</p>
                                    <img src="../../../assets/img/projetos/provasCabais/ProCalc/produtosselecionados.png"
                                        alt="tela de Login" class="w-100">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-center">
                                    <p>Table com filtro de pesquisa e paginação devido a alta quantidade de dados</p>
                                    <img src="../../../assets/img/projetos/provasCabais/ProCalc/tablecompaginacaojquery.png"
                                        alt="tela de Login" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title">
                                    <h1 class="text-center">Descrição do Projeto</h1>
                                </div>
                                <p>
                                    Procalc é um sistema de gerenciamento de clínicas estéticas que permite calcular
                                    todos os procedimentos estéticos e oferecer soluções integradas de atendimento aos
                                    clientes. Com ele, é possível criar e gerenciar produtos, fazer orçamentos de
                                    atendimentos, cadastrar médicos, clientes e usuários, além de fornecer diferentes
                                    visões para recepcionistas, médicos, administradores e fiscais contábeis. Esse
                                    sistema é uma ferramenta eficiente e segura para garantir a gestão eficaz de todos
                                    os aspectos da clínica estética.
                                </p>
                                <div class="title">
                                    <h1 class="text-center">Opinião individual</h1>
                                </div>
                                <p>
                                    Foi um dos sistemas mais desafiantes que já trabalhei e já esta em produção sendo
                                    utilizada por várias empresas do ramo, todas as sprints foram realizadas sem atraso
                                    e dentro do prazo estabelecido,
                                    o maior desafio que encontrei nesse sistema foi atender todas as regras de negócio
                                    estabelecidas porém com paciencia e proatividade todas foram atendidas dentro do
                                    prazo de entrega para o cliente.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-red" style="margin-right: 5px ;"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Fullpass -->
        <div class="modal fade" id="modalFullpass" tabindex="-1" aria-labelledby="modalFullpasslLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalFullpasslLabel">Fullpass </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <p>Tela de Login</p>
                                    <img src="../../../assets/img/projetos/provasCabais/FullPass/teladeLogin.png"
                                        alt="tela de Login" class="w-100">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="text-center">
                                    <p>Dashboard</p>
                                    <img src="../../../assets/img/projetos/provasCabais/FullPass/dashboard.png"
                                        alt="tela de Login" class="w-100">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <p>Edit Perfil do usuario</p>
                                    <img src="../../../assets/img/projetos/provasCabais/FullPass/editarmeuperfil.png"
                                        alt="tela de Login" class="w-100">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="text-center">
                                    <p>Crud List</p>
                                    <img src="../../../assets/img/projetos/provasCabais/FullPass/cruds.png"
                                        alt="tela de Login" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h2 class="text-center">Descrição do Projeto</h2>
                                <p>A Fullpass é uma plataforma de assinatura de academias que visa fornecer aos usuários
                                    acesso a uma ampla gama de opções de atividades físicas em diversos locais. O
                                    objetivo é oferecer flexibilidade e conveniência aos usuários, permitindo que eles
                                    experimentem diferentes tipos de exercícios e encontrem a atividade ideal para
                                    atender às suas necessidades e objetivos de fitness.</p>

                                <br>
                                <h3 class="text-center">Opinião individual</h3>
                                <p>
                                    Neste projeto realizei diversos C.R.U.D.S, sempre consumindo API's Rests usando
                                    https
                                    requests.<br>Nenhum dos dados apresentados na tela foram mocks, todos eles são dados
                                    reais sendo consumidos e encaminhado através de services.<br> Nesse projeto não tive
                                    nenhuma dificuldade e tudo foi realizado dentro do meu nivel de conhecimento, não
                                    havendo desafios. </p>


                            </div>
                            <div class="col-sm-8">
                                <div class="text-center">
                                    <p>Crud Add</p>
                                    <img src="../../../assets/img/projetos/provasCabais/FullPass/add.png"
                                        alt="tela de Login" class="w-100">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-red" style="margin-right: 5px ;"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Realtec -->
        <div class="modal fade" id="modalRealtec" tabindex="-1" aria-labelledby="modalRealtec" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalRealteclLabel">Realtec </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <p>Tela de Medição</p>
                                    <img src="../../../assets/img/projetos/provasCabais/Realtec/medicao.png"
                                        alt="tela de Login" class="w-100">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="text-center">Descrição do Projeto</h2>
                                <p>A Fullpass é uma plataforma de assinatura de academias que visa fornecer aos usuários
                                    acesso a uma ampla gama de opções de atividades físicas em diversos locais. O
                                    objetivo é oferecer flexibilidade e conveniência aos usuários, permitindo que eles
                                    experimentem diferentes tipos de exercícios e encontrem a atividade ideal para
                                    atender às suas necessidades e objetivos de fitness.</p>
                                <br>
                                <h3 class="text-center">Opinião individual</h3>
                                <p>
                                    Neste projeto realizei diversos C.R.U.D.S, sempre consumindo API's Rests usando
                                    https
                                    requests.<br>Nenhum dos dados apresentados na tela foram mocks, todos eles são dados
                                    reais sendo consumidos e encaminhado através de services.<br> Nesse projeto não tive
                                    nenhuma dificuldade e tudo foi realizado dentro do meu nivel de conhecimento, não
                                    havendo desafios. </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-red" style="margin-right: 5px ;"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>