<div class="container">
    <div class="row" >
        <div class="col-sm-6" style=" display: flex; justify-content: center; flex-direction: column;">
            <h2>Maximize Skill, minimize budget</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi iste quasi aliquid exercitationem?
                Porro,
                veniam officia debitis sunt illum eos sapiente officiis natus, omnis repellat in deserunt libero
                voluptate aut.

            </p>
            <a href="" class="btn profilebutton text-white">Get Started</a>
        </div>
        <div class="col-sm-6 " style="position: relative; display: flex; justify-content: center;">
            <div class="profile">
                <img src="../assets/img/profile.png" alt="">
            </div>
            <div class="card projetos">
                Projetos Concluidos
                <h2>+16</h2>
            </div>
            <div class="card experiencia">
                Experiência em T.I
                <h2>+3 anos</h2>
            </div>
        </div>


    </div>
</div>