.profile img{
    background: -webkit-linear-gradient(left, #ed7551, #f12ea0);
    background: -moz-linear-gradient(left, #ed7551, #f12ea0);
    background: -ms-linear-gradient(left, #ed7551, #f12ea0);
    background: -o-linear-gradient(left, #ed7551, #f12ea0);
    background: linear-gradient(to right, #ed7551, #f12ea0);
    border-radius: 20%;
}

.profilebutton{
    background: -webkit-linear-gradient(left, #ed7551, #f12ea0);
    background: -moz-linear-gradient(left, #ed7551, #f12ea0);
    background: -ms-linear-gradient(left, #ed7551, #f12ea0);
    background: -o-linear-gradient(left, #ed7551, #f12ea0);
    background: linear-gradient(to right, #ed7551, #f12ea0);
    width: 110px;
}
.container{
    margin-top: 50px;
}

.card{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 200px;
    position: absolute;
}


.projetos{
    top: 190px;
    left: 390px;
}

.experiencia{
    top: 390px;
    left: 90px;
}