<div class="container">
    <div class="row">
        <div class="col-sm-6 d-flex justify-content-center flex-column bg-green">
            <h2>Maximize Skill, minimize budget</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi iste quasi aliquid exercitationem?
                Porro,
                veniam officia debitis sunt illum eos sapiente officiis natus, omnis repellat in deserunt libero
                voluptate aut.

            </p>
            <a href="" class="btn profilebutton text-white">Get Started</a>
        </div>
        <div class="col-sm-6 d-flex justify-content-center align-items-center">
            <img style="border-radius: 50%"
                src="https://media.licdn.com/dms/image/D4D03AQE-Zq2dWcQZcA/profile-displayphoto-shrink_200_200/0/1671457669882?e=1681344000&v=beta&t=wjAoDJjp81huPfVWJ8mhilf7dIYFED5pcXkNCnAl3HU"
                alt="">

        </div>


    </div>
</div>